/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f7ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    width: 400px; /* Increased width */
    height: 85%;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.back-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ffc107;
}

.header h1 {
    font-size: 20px;
    margin-left: 10px;
    color: #000;
}

/* Profile section */
.profile-section {
    text-align: center;
}

.photo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* background-color: #a9c49f; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    background-image: url(./pic/4.png);
    background-size: contain;
}

/* Form styles */
.profile-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #5d5d5d;
    margin-bottom: 5px;
    text-align: left;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 8px;
    font-size: 14px;
    outline: none;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.change-password, .change {
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
    color: #8b7c5b;
    cursor: pointer;
}

.change-password:hover, .change:hover {
    text-decoration: underline;
}